.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container{
  margin: 0 auto;
}
body{
  text-align: center;
}
header{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.recipe{
  display: flex;
  justify-content:space-between;
  margin-bottom: 15px;
}
.recipes-search{
   display: flex;
  justify-content:space-between; 
    margin-bottom: 15px;
}
.recipes-edit{
}
.recipes-edit .recipes-edit-child {
  flex:2 1 auto;
}
.recipes-edit, .ingredients-moves {
  display: flex;
  justify-content:space-between; 
}
.ingredients-moves .ingredients-moves-child{
  flex:4 1 auto;
}
.ingredients-moves li.ingridient  {
  cursor: pointer;
}
.recipe-ingredient{
  list-style: none;
}

.recipe-image i{
  font-size:60px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
